# bluesky-queueserver
existing_plans_and_devices.yaml

*.pyc
*.pyo
*~
mViewer.log

*.egg-info/

# Microsoft VisualStudio Code Editor
.vscode/

# log files
.logs/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# filewriter callback output files
*.h5
*.dat

# local developer Python code
dev_*.py
